name: UnitTests

on:
  push:
    branches: ['*']

permissions: read-all

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      checks: write

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag=v5.0.0

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # tag=v4.4.0
        with:
          node-version: 22

      - name: Run tests
        run: |
          npm ci
          npx lerna run prepack
          npm run test-ci
        env:
          TZ: America/Toronto

      - name: Publish test report
        uses: mikepenz/action-junit-report@3585e9575db828022551b4231f165eb59a0e74e3 # tag=v5.6.2
        if: always()
        with:
          report_paths: build/junit.xml

      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@6c1aa0cc9e1c02f9f58f01ac599f1064ccc83470 # tag=v1.1.0
        with:
          ref: 'v1.16' # workaround for https://github.com/zgosalvez/github-actions-report-lcov/issues/282

      - name: Publish coverage report
        uses: zgosalvez/github-actions-report-lcov@eda775f552bfb2bffbdedea26f19dfb8c24a1648 # tag=v4.1.26
        with:
          coverage-files: build/lcov.info
          minimum-coverage: 100
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}
